# # Supabase Configuration
# SUPABASE_URL=https://zwyxccmxicdhytoubmmn.supabase.co
# SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp3eXhjY214aWNkaHl0b3VibW1uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2MjM3NDQsImV4cCI6MjA5MTE5OTc0NH0.SeYsOFcbAf1mzRSmgQ7hjqrD3Fvan-42cj00unR8hAQ
# # Groq Configuration
# GROQ_API_KEY=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
# FRONTEND_URL=https://your-vercel-app.vercel.app